.concept {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 0 100px;



  &__content {
  position: relative;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;





    &:nth-child(2) {
      flex-direction: row-reverse;


    }

  }

  &__text {
    width: 40%;
    max-width: 390px;
    margin-right: 6%;


  }



  &__img {

    width: 60%;
    max-width: 640px;
  }

  &__head {
    font-size: 28px;
  }

  &__sub-head {
    font-size: 14px;
    margin-top: 24px;
    line-height: 2.5;
  }

}

.reverse>.concept__text {
  margin-left: 6%;
}

.concept__content::after {
 position: absolute;
 content: "";
 background-color: #d84316;
 height: 200px;
 width: 800px;
 top: 50%;
 left: 50%;
}

