.concept {
  max-width: 1180px;
  margin: 150px auto;
  padding: 0 0 100px;



  &__content {
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;



&:not(:first-child){
  margin-top: 250px;
}

    &:nth-child(2) {
      flex-direction: row-reverse;


    }

  }

  &__text {
    width: 40%;
    max-width: 390px;
    margin-right: 6%;


  }



  &__img {

    width: 60%;
    max-width: 640px;
  }

  &__head {
    font-size: 28px;
  }

  &__sub-head {
    font-size: 14px;
    margin-top: 24px;
    line-height: 2.5;
  }

}

.reverse>.concept__text {
  margin-left: 6%;
}

.concept__content::after {
 position: absolute;
    content: "";
    background-color: #d5baa04a;
    height: 200px;
    width: 800px;
    bottom: -117px;
    z-index: -1;
    right: -50px;
}

.concept__content:nth-child(2)::after {
    position: absolute;
    content: "";
    background-color: #d5baa04a;
    height: 400px;
    width: 600px;
    bottom: -117px;
    z-index: -1;
    left: -50px;
}

.concept__content:nth-child(3)::after {
       position: absolute;
    content: "";
    background-color: rgba(213, 186, 160, 0.2901960784);
    height: 460px;
    width: 400px;
    top: 15%;
    z-index: -1;
    right: -50px;
}


